#button {background-color:
    #274c77;}
    
      
      #button1{
        background-color: #274c77;
      }
      #container{background-color:silver;}
      #c2{background-color:
         #274c77;}
         #para{color: #274c77;}

         #Summit{color: #274c77; 
            }

    #container2{background-color: #274c77;}
    .section section-text-light section-center border-0 bg-color-quaternary my-0 {
        background-color: #274c77;
      }
      #container3{background-color: #274c77;}
  
  #day2{background-color: #274c77;}
  #timeline{background-color: #274c77;}
  #section2{background-color: #274c77;}
  #box1{background-color: #274c77;}
  #about{background-color: #274c77;}
  #f1{background-color: #274c77;}
  #f2{background-color: #274c77;}
  #section3{background-color: #274c77;}
  .timeline-body{background-color: #274c77;}
  